<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frage beantworten</title>
</head>
<body>
<div>
    <span th:text="${email}"></span>
    <span> | </span>
    <a th:href="@{/logout}">Logout</a>
</div>
<h1 th:text="${question.bezeichnung}"></h1>
<p th:text="${question.fragetext}"></p>
<form th:action="@{/fragen/{frageId} (frageId=${question.id})}" method="post" th:object="${antwort}">
    <!-- radio buttons with values from enum cf.soisi.springsecurity.domain.Antwortmoeglichkeit -->
    <input type="radio"
           th:each="antwortmoeglichkeit : ${T(cf.soisi.springsecurity.domain.Antwortmoeglichkeit).values()}"
           th:value="${antwortmoeglichkeit}"
           th:text="${antwortmoeglichkeit}"
            th:field="*{antwortmoeglichkeit}"/>
    <input type="submit"/>
</form>
<a th:href="@{/fragen}">Zurück zu den Fragen</a>
</body>
</html>